---
Checks: >
  -*,
  bugprone-use-after-move,
  bugprone-dangling-handle,
  bugprone-unhandled-self-assignment,
  cppcoreguidelines-owning-memory,
  cppcoreguidelines-no-malloc,
  modernize-make-unique,
  modernize-make-shared,
  modernize-use-nullptr,
  modernize-use-override,
  performance-for-range-copy,
  performance-unnecessary-copy-initialization,
  readability-else-after-return
WarningsAsErrors: '*'
HeaderFilterRegex: '(core|gen|world|sim|render|app|cli)/(include|src)/'
FormatStyle: none
